body {
    margin:0px;
    background-color: black;

}

.header {
    height: 100px;
    width: 100vw;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin:0px;
    color: white;
}

.game {
    width:100vw;
    height: 100vh;
    background-image:url('background.png');
    background-size: cover;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.setup {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.setup > label {
    font-size: 45px;
    font-weight: bold;
}

.setup > input {
    width: 280px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

.square {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    overflow:visible;
    position: relative;
}

.gameboard {
    position:relative;
    display:grid;
    width: 400px;
    height:400px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    outline: 5px solid black;
}

.name {
    position: absolute;
    top: -55px;
    font-size: 40px;
    font-weight: bold;
}

.shipplacement {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 400px;
    align-items:baseline;
    justify-items: center;
    gap:40px;
    font-weight: bold;
    font-size:32px;
}

.instructions {
    padding-top:40px;
    position: relative;
    width: 400px
}

.shipdiv {
    position: relative;
    display: grid;
    justify-items: left;
}

.shipdiv > button {
    padding: 8px;
    font-weight: bold;

}

.shipvisual {
    position:absolute;
    right:200px;
    top:80px;
    width:39px;
}

img {
    border:none;
}

#cruiser1 {
    position:absolute;
    z-index: 1;
    height: 39px;
    width: 79px;
    background-image: url(./ships/cruiser1.png);
    background-size:  79px 39px;
}

#cruiser2 {
    position:absolute;
    z-index: 1;
    height: 39px;
    width: 79px;
    background-image: url(./ships/cruiser2.png);
    background-size:  79px 39px;
}

#submarine {
    position:absolute;
    z-index: 1;
    height: 39px;
    width: 119px;
    background-image: url(./ships/submarine.png);
    background-size:  119px 39px;
}

#carrier {
    position:absolute;
    z-index: 1;
    height: 39px;
    width: 159px;
    background-image: url(./ships/carrier.png);
    background-size:  159px 39px;
}

#battleship {  
    position:absolute;
    z-index: 1;
    height: 39px;
    width: 199px;
    background-image: url(./ships/battleship.png);
    background-size:  199px 39px;
}

#hitmarker {
    position:absolute;
    z-index: 2;
    height:39px;
    width: 39px;
    background-image: url(./icons/x.png);
    background-size: 39px 39px;
    z-index: 1;
    transform: rotate(0deg);
}

#missmarker {
    position:absolute;
    z-index: 2;
    height: 39px;
    width: 39px;
    background-image: url(./icons/dot.png);
    background-size: 39px 39px;
    z-index: 1;
    transform: rotate(0deg);
}